body
{
background-size: cover;
}

.heading
{
    width: 100%;
    margin-top: 0px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}

#button1
{
    font-size: 20px;
}

canvas
{
animation-name: samagna;
animation-duration: 6s;
animation-iteration-count: infinite;
border-radius: 20px;
}

@keyframes samagna
{
    0%{box-shadow: 2px 2px 35px white;}
    50%{box-shadow: 2px 2px 35px black;}
    100%{box-shadow: 2px 2px 35px lightskyblue;}
}